# Final Project Template

## 2) Provide a link to your data
Your data is required to be free and open to anyone.
As such, you should have a URL which anyone can use to download your data:

Link to Data
- From Kaggle

    https://www.kaggle.com/rtatman/chocolate-bar-ratings

## 3) Import your data
In the space below, import your data.
If your data span multiple files, read them all in.
If applicable, merge or append them as needed.

In [3]:
import pandas as pd
import numpy as np
from pandas import read_csv

In [4]:
Chocolate_df= pd.read_csv('flavors_of_cacao.csv', header=0)

## 4) Show me the head of your data.

In [5]:
#First ten rows of the dataset
Chocolate_df.head(10)

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

## 6) Show me the proportion of missing observations for each column of your data

In [6]:
Chocolate_df.isna().head()

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [7]:
#total NA values in each column
Chocolate_df.isna().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

In [8]:
#Where are the NA values
np.where(pd.isnull(Chocolate_df))

(array([1072, 1544]), array([8, 7]))

In [9]:
#Looking at missing values
Chocolate_df.loc[1072,:]

Company \n(Maker-if known)           Mast Brothers
Specific Bean Origin\nor Bar Name       Madagascar
REF                                            999
Review\nDate                                  2012
Cocoa\nPercent                                 72%
Company\nLocation                           U.S.A.
Rating                                         2.5
Bean\nType                              Trinitario
Broad Bean\nOrigin                             NaN
Name: 1072, dtype: object

In [10]:
# But if we look at the data
Chocolate_df.head(10)

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

In [11]:
# There are values that are blank which are not counted as NA
#Replace blank cells with NA
ChocolateNa_df = Chocolate_df.replace(r'^\s+$', np.nan, regex=True)

In [12]:
#New total NA values in each column
ChocolateNa_df.isna().sum()

Company \n(Maker-if known)             0
Specific Bean Origin\nor Bar Name      0
REF                                    0
Review\nDate                           0
Cocoa\nPercent                         0
Company\nLocation                      0
Rating                                 0
Bean\nType                           888
Broad Bean\nOrigin                    74
dtype: int64

In [19]:
#Shape showing total number of rows
ChocolateNa_df.shape

(1795, 9)

In [20]:
#Total number of values in each column that are not NA
ChocolateNa_df.count()

Company \n(Maker-if known)           1795
Specific Bean Origin\nor Bar Name    1795
REF                                  1795
Review\nDate                         1795
Cocoa\nPercent                       1795
Company\nLocation                    1795
Rating                               1795
Bean\nType                            907
Broad Bean\nOrigin                   1721
dtype: int64

In [23]:
#Proportion of missing values in each column 
Proportion = (ChocolateNa_df.isna().sum())/(ChocolateNa_df.count()+ChocolateNa_df.isna().sum())
Proportion

Company \n(Maker-if known)           0.000000
Specific Bean Origin\nor Bar Name    0.000000
REF                                  0.000000
Review\nDate                         0.000000
Cocoa\nPercent                       0.000000
Company\nLocation                    0.000000
Rating                               0.000000
Bean\nType                           0.494708
Broad Bean\nOrigin                   0.041226
dtype: float64

# Exploring data and cleaning

In [24]:
#Renaming columns so that there are no more spaces or backslashes
Chocolate= ChocolateNa_df.rename({"Company\xa0\n(Maker-if known)":"Company",
                               'Specific Bean Origin\nor Bar Name': "BeanOrigin",
                              "Review\nDate": "Date",
                              "Cocoa\nPercent": "CocoaPercent",
                                         "Company\nLocation":"Location",
                                         "Bean\nType":"BeanType",
                                         "Broad Bean\nOrigin":"BroadOrigin"}, axis='columns')

In [25]:
Chocolate.head()

,Company,BeanOrigin,REF,Date,CocoaPercent,Location,Rating,BeanType,BroadOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru

In [26]:
#value types
Chocolate.dtypes

Company          object
BeanOrigin       object
REF               int64
Date              int64
CocoaPercent     object
Location         object
Rating          float64
BeanType         object
BroadOrigin      object
dtype: object

In [27]:
# Drop BeanType column because it contains ~ 50% missing values
ChocolateClean=Chocolate.drop(columns=['BeanType'])

In [ ]:
Chco