# Final Project Template

## 2) Provide a link to your data
Your data is required to be free and open to anyone.
As such, you should have a URL which anyone can use to download your data:

Link to Data
- From Kaggle

    https://www.kaggle.com/rtatman/chocolate-bar-ratings

## 3) Import your data
In the space below, import your data.
If your data span multiple files, read them all in.
If applicable, merge or append them as needed.

In [3]:
import pandas as pd
import numpy as np
from pandas import read_csv

In [4]:
Chocolate_df= pd.read_csv('flavors_of_cacao.csv', header=0)

## 4) Show me the head of your data.

In [5]:
#First ten rows of the dataset
Chocolate_df.head(10)

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

## 6) Show me the proportion of missing observations for each column of your data

In [6]:
Chocolate_df.isna().head()

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

In [7]:
#total NA values in each column
Chocolate_df.isna().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

In [8]:
#Where are the NA values
np.where(pd.isnull(Chocolate_df))

(array([1072, 1544]), array([8, 7]))

In [9]:
#Looking at missing values
Chocolate_df.loc[1072,:]

Company \n(Maker-if known)           Mast Brothers
Specific Bean Origin\nor Bar Name       Madagascar
REF                                            999
Review\nDate                                  2012
Cocoa\nPercent                                 72%
Company\nLocation                           U.S.A.
Rating                                         2.5
Bean\nType                              Trinitario
Broad Bean\nOrigin                             NaN
Name: 1072, dtype: object

In [10]:
# But if we look at the data
Chocolate_df.head(10)

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

In [11]:
# There are values that are blank which are not counted as NA
#Replace blank cells with NA
ChocolateNa_df = Chocolate_df.replace(r'^\s+$', np.nan, regex=True)

In [12]:
#New total NA values in each column
ChocolateNa_df.isna().sum()

Company \n(Maker-if known)             0
Specific Bean Origin\nor Bar Name      0
REF                                    0
Review\nDate                           0
Cocoa\nPercent                         0
Company\nLocation                      0
Rating                                 0
Bean\nType                           888
Broad Bean\nOrigin                    74
dtype: int64

In [19]:
#Shape showing total number of rows
ChocolateNa_df.shape

(1795, 9)

In [20]:
#Total number of values in each column that are not NA
ChocolateNa_df.count()

Company \n(Maker-if known)           1795
Specific Bean Origin\nor Bar Name    1795
REF                                  1795
Review\nDate                         1795
Cocoa\nPercent                       1795
Company\nLocation                    1795
Rating                               1795
Bean\nType                            907
Broad Bean\nOrigin                   1721
dtype: int64

In [23]:
#Proportion of missing values in each column 
Proportion = (ChocolateNa_df.isna().sum())/(ChocolateNa_df.count()+ChocolateNa_df.isna().sum())
Proportion

Company \n(Maker-if known)           0.000000
Specific Bean Origin\nor Bar Name    0.000000
REF                                  0.000000
Review\nDate                         0.000000
Cocoa\nPercent                       0.000000
Company\nLocation                    0.000000
Rating                               0.000000
Bean\nType                           0.494708
Broad Bean\nOrigin                   0.041226
dtype: float64

# Exploring data and cleaning

In [24]:
#Renaming columns so that there are no more spaces or backslashes
Chocolate= ChocolateNa_df.rename({"Company\xa0\n(Maker-if known)":"Company",
                               'Specific Bean Origin\nor Bar Name': "BeanOrigin",
                              "Review\nDate": "Date",
                              "Cocoa\nPercent": "CocoaPercent",
                                         "Company\nLocation":"Location",
                                         "Bean\nType":"BeanType",
                                         "Broad Bean\nOrigin":"BroadOrigin"}, axis='columns')

In [25]:
Chocolate.head()

,Company,BeanOrigin,REF,Date,CocoaPercent,Location,Rating,BeanType,BroadOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru

In [26]:
#value types
Chocolate.dtypes

Company          object
BeanOrigin       object
REF               int64
Date              int64
CocoaPercent     object
Location         object
Rating          float64
BeanType         object
BroadOrigin      object
dtype: object

In [27]:
# Drop BeanType column because it contains ~ 50% missing values
ChocolateClean=Chocolate.drop(columns=['BeanType'])

In [28]:
ChocolateClean.head()

    Company   BeanOrigin   REF  Date CocoaPercent Location  Rating BroadOrigin
0  A. Morin  Agua Grande  1876  2016          63%   France    3.75    Sao Tome
1  A. Morin        Kpime  1676  2015          70%   France    2.75        Togo
2  A. Morin       Atsane  1676  2015          70%   France    3.00        Togo
3  A. Morin        Akata  1680  2015          70%   France    3.50        Togo
4  A. Morin       Quilla  1704  2015          70%   France    3.50        Peru

In [29]:
ChocolateClean.isna().sum()

Company          0
BeanOrigin       0
REF              0
Date             0
CocoaPercent     0
Location         0
Rating           0
BroadOrigin     74
dtype: int64

In [30]:
#There are still NA values in the BroadOrigin column
ChocolateClean.loc[Chocolate.BroadOrigin.isna()].head()

,Company,BeanOrigin,REF,Date,CocoaPercent,Location,Rating,BroadOrigin
77,Amedei,Nine,111,2007,75%,Italy,4.00,NaN
85,Amedei,Toscano Black,170,2007,63%,Italy,3.50,NaN
86,Amedei,Toscano Black,40,2006,70%,Italy,5.00,NaN
87,Amedei,Toscano Black,75,2006,66%,Italy,4.00,NaN
144,Bahen & Co.,Houseblend,1474,2015,80%,Australia,3.25,NaN

In [32]:
#Where are there NA spots
np.where(pd.isnull(ChocolateClean))

(array([  77,   85,   86,   87,  144,  148,  182,  214,  245,  277,  329,
         381,  393,  416,  417,  421,  465,  482,  554,  564,  565,  634,
         644,  739,  749,  754,  755,  756,  759,  760,  762,  764,  769,
         770,  772,  774,  775,  776,  777,  779,  897,  937,  938,  975,
        1048, 1072, 1074, 1114, 1115, 1120, 1129, 1175, 1231, 1272, 1366,
        1374, 1411, 1414, 1436, 1439, 1440, 1443, 1506, 1526, 1624, 1625,
        1683, 1686, 1694, 1766, 1774, 1778, 1780, 1789]),
 array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
        7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
        7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
        7, 7, 7, 7, 7, 7, 7, 7]))

In [33]:
#Drop rows with NA values
ChocolateClean2=ChocolateClean.drop([  77,   85,   86,   87,  144,  148,  182,  214,  245,  277,  329,
         381,  393,  416,  417,  421,  465,  482,  554,  564,  565,  634,
         644,  739,  749,  754,  755,  756,  759,  760,  762,  764,  769,
         770,  772,  774,  775,  776,  777,  779,  897,  937,  938,  975,
        1048, 1072, 1074, 1114, 1115, 1120, 1129, 1175, 1231, 1272, 1366,
        1374, 1411, 1414, 1436, 1439, 1440, 1443, 1506, 1526, 1624, 1625,
        1683, 1686, 1694, 1766, 1774, 1778, 1780, 1789])

In [34]:
ChocolateClean2.head()

    Company   BeanOrigin   REF  Date CocoaPercent Location  Rating BroadOrigin
0  A. Morin  Agua Grande  1876  2016          63%   France    3.75    Sao Tome
1  A. Morin        Kpime  1676  2015          70%   France    2.75        Togo
2  A. Morin       Atsane  1676  2015          70%   France    3.00        Togo
3  A. Morin        Akata  1680  2015          70%   France    3.50        Togo
4  A. Morin       Quilla  1704  2015          70%   France    3.50        Peru

In [35]:
#Check for NA values
ChocolateClean2.isna().sum()

Company         0
BeanOrigin      0
REF             0
Date            0
CocoaPercent    0
Location        0
Rating          0
BroadOrigin     0
dtype: int64

In [36]:
#Dimensions of cleaned Data
ChocolateClean2.shape

(1721, 8)

In [37]:
#Dimensions of original data
Chocolate_df.shape

(1795, 9)

In [67]:
#Unique ratings
ChocolateClean2.Rating.unique()

array([3.75, 2.75, 3.  , 3.5 , 4.  , 3.25, 2.5 , 5.  , 1.75, 1.5 , 2.25,
       2.  , 1.  ])

In [78]:
#Looking at unique Location
ChocolateClean2.Location.unique()

array(['France', 'U.S.A.', 'Fiji', 'Ecuador', 'Mexico', 'Switzerland',
       'Netherlands', 'Spain', 'Peru', 'Canada', 'Italy', 'Brazil',
       'U.K.', 'Australia', 'Wales', 'Belgium', 'Germany', 'Russia',
       'Puerto Rico', 'Venezuela', 'Colombia', 'Japan', 'New Zealand',
       'Costa Rica', 'South Korea', 'Amsterdam', 'Scotland', 'Martinique',
       'Sao Tome', 'Argentina', 'Guatemala', 'South Africa', 'Bolivia',
       'St. Lucia', 'Portugal', 'Singapore', 'Denmark', 'Vietnam',
       'Grenada', 'Israel', 'India', 'Czech Republic',
       'Domincan Republic', 'Finland', 'Madagascar', 'Philippines',
       'Sweden', 'Poland', 'Austria', 'Honduras', 'Nicaragua',
       'Lithuania', 'Niacragua', 'Chile', 'Ghana', 'Iceland', 'Eucador',
       'Hungary', 'Suriname', 'Ireland'], dtype=object)

In [74]:
#Looking at unique Bean Origins
ChocolateClean2.BeanOrigin.unique()

array(['Agua Grande', 'Kpime', 'Atsane', 'Akata', 'Quilla', 'Carenero',
       'Cuba', 'Sur del Lago', 'Puerto Cabello', 'Pablino', 'Panama',
       'Madagascar', 'Brazil', 'Equateur', 'Colombie', 'Birmanie',
       'Papua New Guinea', 'Chuao', 'Piura', 'Chanchamayo Province',
       'Bolivia', 'Peru', 'Chulucanas, El Platanal', 'Tumbes, Norandino',
       'Vanua Levu', 'Vanua Levu, Toto-A', 'Vanua Levu, Ami-Ami-CA',
       'Los Rios, Quevedo, Arriba', 'Tabasco',
       'Bali (west), Sukrama Family, Melaya area',
       'Madagascar, Ambolikapiky P.', 'Monte Alegre, D. Badero',
       'Trinite', 'Vietnam', 'Piura, Perou', 'Winak Coop, Napo',
       'La Dalia, Matagalpa', 'Tien Giang', 'Makwale Village, Kyela',
       'Momotombo', 'Acopagro', 'CIAAB Coop', 'Villa Andina',
       'Gruppo Salinas', 'Conacado', 'Morobe', 'Dos Rios', 'Guayas',
       'Montanya', 'Bali, Jembrana', 'Cuyagua', 'Ocumare', 'Ghana',
       'Ecuador', 'LamasdelChanka, San Martin, Oro Verde coop',
       'Bellavista Gran Pajeten, San Martin', 'Belize',
       'Dominican Republic', 'Venezuela', 'Piura, Blanco de Criollo',
       'Porcelana', 'Jamaica', 'Grenada', 'Trinidad', 'Catongo',
       'Monte Alegre, 3 diff. plantations', 'Elvesia', 'Alto Beni',
       'Chiapas', 'Trincheras', 'San Juan', 'Kokoa Kamili',
       'Hacienda Victoria', 'Costa Esmeraldas', 'Lachua', 'Rugoso',
       'La Masica, FHIA', 'Coto Brus, Terciopelo', 'Phantom',
       'Matasawalevu', 'Lam Dong', 'Fazenda Camboa', 'Nacional',
       'Puerto Quito, heirloom', 'Oko Caribe', 'Maya Mountain', 'Chuno',
       'Guatemala', 'Camino Verde', 'Trinidad, Heritage, Limited ed.',
       'Colombia, Casa Luker', 'Haiti', 'Costa Rica',
       'Ba Ria Vung Tau Province', 'Bali', 'Ocumare, Venezuela', 'Java',
       'Brazil Rio Doce', 'Congo', 'Orinoqua Region, Arauca', 'Mababa',
       'Tenende, Uwate', 'Cortes', 'Davao', 'Xoconusco',
       'San Jose del Tambo', 'Sambirano', 'Bahia', 'Bambamarca, 2015',
       'Huallabamba, 2015', 'Maranon Canyon', 'Duarte Province',
       'single estate', 'Dominican Republic, Batch 3',
       'Asajaya E, NW Borneo, b. #132/4500',
       'Serian E., NW Borneo, b. #134/3800', 'Brazil, Batch 20316',
       'Dominican Republic, Batch 31616', 'Ecuador, Batch 31516',
       'Kakao Kamili, Kilombero Valley', 'Alto Beni, Palos Blanco',
       'Oko Caribe, Duarte P.', 'Belize south, low fermentation',
       'Belize south', 'Baracoa', 'Cuyagua Village', 'Rio Peripa H.',
       'Bali, Sukrama Bros. Farm, Melaya, 62hr C',
       'Somia Plantation, Sambirano, 70hr C', 'Maracaibo',
       'Indigena Amazonia, Grand Cru, Quizas',
       'Carenero S., Barlovento, Grand Cru',
       'Porcelana, Premier Cru, Quizas No. 1', 'Java, Grand Cru',
       'Ocumare, Premier Cru, Quizas No. 2', 'Nicaragua, American style',
       'San Andres, American style', 'San Andres, silk',
       'Bali, Singaraja', '2009 Hapa Nibby', 'Sambirano, 2009',
       'Ocumare, prototype', 'Puerto Plata', 'Bocas del Toro', 'Ankasa',
       'La Red', 'Carenero Superior', 'Matiguas', 'Blue Mountain Region',
       'Congo, Grand Cru', "Akesson's E., Sambirano V.", 'Zorzal Reserva',
       'Selva Maya', 'Kaori', 'Los Colorados, Santo Domingo, Equateur',
       'Surfin', 'Maragnam', 'Gabon', 'Cusco, Cacao Cusco',
       'Piura Blanco', 'Libanio', 'Madagascar, 100% criollo', 'Juliana',
       'Jamaique', 'Ivory Coast', 'Porcelana, Apotequil',
       'Porcelana, Tabasco, Marfil de Blanco', 'Xoconusco, cacao Real',
       'Porcelana, Venezuela', 'Ocumare, Puerto Cabello',
       'Maracaibo, El Rosario', 'Ceylan', 'El Oro, Hacienda de Oro',
       'Guasare, Zulia Prov.', "O'payo, Waslala", 'Cooproagro',
       'Camino Verde, Guayas', 'Chuao, Mantuano blend', 'Elvesia P.',
       'Alta Verapaz, 2014', 'Ambolikapiky P.', 'Ambolikapkly P.',
       'Somia Plantation', 'Marabel Farms', 'Camino Verde, Balao, Guayas',
       'Gran Couva', 'Mindo', 'Ecuador, Bob Bar', 'Puerto Rico', 'Tumbes',
       'Dominican Republic, "Love Bar"', 'Dominican Republic w/ nibs',
       'Patanemo', "Grand 'Anse", 'Santo Domingo', 'Tanzania', 'Mexico',
       'Rio Caribe', 'Agua Fria; Sucre region',
       'Macuare; Miranda; Chloe formula', 'Chuao, Aragua region',
       'Hacienda la Trinidad', 'Macondo', 'Perla Negra', 'Arhuacos',
       'Sierra Nevada', 'Tumaco', 'Boyaca, Aprocampa Coop, Pauna',
       'Arauca', 'Jutiapa, lot 050916D', 'Criollo, Dominican Republic',
       'Dominican Republicm, rustic', 'Dominican Republic, rustic',
       'Mahali, Kasai', 'Papua', 'Porcelana, Tabasco, La Joya',
       'Xoconusco, Chiapas', 'Amazonia', 'Esmeraldas', 'Bolivar',
       'Pichincha', 'Grenade', 'Baking', 'Sao Tome',
       'Porcelana, Batch 5163', 'Manabi', 'Los Rios',
       'Saidor Estate, Madang P.', 'Kulili Estate',
       'Antigua, Special Reserve', 'Talamanca, Raul-Kekoldo community',
       'Anselmo Paraiso Estate', 'Cordoba', 'Huila', 'Cesar',
       'Maya Mtn, Batch 454, Heirloom',
       'the lost city, gracias a dias, batch 362', 'Duarte, Batch 360',
       'Piaroa, Amazonas, Batch 350', 'San Martin', 'Guaniamo, Amazonas',
       'Nicaragua', 'Guaniamo', 'Uganda', 'Maya Mtn', 'Arriba',
       'la Amistad', 'Maya Mountain w/ nibs',
       'Mekong Delta, early 2014 Harvest', 'Tawau, Oct. 2015 Harvest',
       'Peru + nibs', 'Tumbes, "Zarumilla"', 'Wild Bolivian',
       'Tres Hombres', 'Congo, Gorilla bar', 'Peru, Awagum bar',
       'Maranon', 'Chiapas, Lacandon Jungle, Oaxacom Mtn',
       'Bolivar, Guaranda', 'Guyave', 'Porcelana, Tabasco', 'Brazilian',
       'Guadeloupe', 'Maranon Canyon, Fortunato No. 4', 'Choroni',
       'Terreiro Velho P.', 'Terreiro Velho P. w/ sugar crystals',
       'Principe', 'Camino Verde P., Balao, Guayas, 2014', 'Moxos',
       'Tien Giang, 2015, batch 10-2-16', 'Ecuador, Puristique',
       'Ghana Puristique', 'Ecuador Puristique', 'Uba Budo',
       'Los Rios, H. Iara', 'Ocumare 61', 'Chuao 100hr', 'Chuao 70hr',
       'Porcelana, Tabasco, Mexico', 'Sambirano, Menava P.',
       'New Ireland', 'Vanuatu, batch 2410', 'Tanzania, batch a1',
       'Bahia, batch a1213', 'Namau Village, N. Taileva P., batch a2812',
       'Vanuatu', 'Djual Island', '"heirloom", Arriba Nacional',
       'Goodman Estate', 'Daintree Estates, N. Queensland',
       'Dominican Republic, batch 7', 'Robson Estate',
       'Crayfish Bay aka Non Pariel Estate', "O'Payo",
       'Maya Mtn., Break Bar- Snark',
       'Camino Verde P., Balao, Guayas, 2013', 'Buto',
       'San Francisco de Macoris, Cibao region',
       'Cumboto, farmer Jose Lugo', 'Mantuano, 2012', 'Upala',
       'Colombian', 'Elvesia, 2011', 'Los Ujuxtes', 'Las Acacias E.',
       'Oscuro, Finca Chimelb', 'Venezuela, batch 122', 'DUO, batch 002',
       'Rainforest', 'West Africa', 'Nativo, Varzea', 'Selvagem, Jari',
       'Bundibugyo District', 'Sambirano Valley, batch 2477',
       'Kilombero, batch 41', 'Bolivian', 'Lanquin Estate',
       'Alto Beni, Wild Harvest, Limited Ed.',
       'Ecuador, Choc. Garage Exclusive', 'Mantuano', 'Panama, Raven',
       'Puerto Cabello, Mantuano', 'Johe',
       "O'ahu, N. Shore, Waialua Estate", 'Africa', 'Ocumare 77',
       'IL100, H. San Jose', 'Morogoro', 'Guasare',
       'Canoabo, Hacienda San Jose', 'Chuao, Hacienda San Jose',
       'Carupano, H. San Jose', 'Teyuna', 'Ocumare 61, Puertomar',
       'Granella', 'Madagared', 'Java, Javablond',
       'Ocumare 67, Puertofino', 'Sur del Lago Classificado', 'Apurimac',
       'Non Pariel Estate', 'Rio Caribe, Batch 7', 'Colombia, Batch 9',
       'Madagascar, Batch 8', 'Rio Dulce, Xoco', 'Chuno, Xoco',
       'Rico Rugoso, Xoco', 'Indio Rojo, Xoco',
       'Bocas del Toro, Tierra Oscura', 'Nicaliso, Xoco',
       'Corazon del Ecuador, Calceta beans', 'Star of Ecuador',
       'Star of Peru', 'Maranon, Joya Rara', 'Rio Caribe, Tepui Treasure',
       'Taino Secret', 'Carenero, Empyrean Sabor', 'Corona Arriba',
       'Maranon, Good & Evil, w/ nibs', 'Alto Beni, Covendo Region',
       'San Joaquin', 'Rio Caribe, Cariaco', 'Rio Caribe, Macuro',
       'Carenero Superior, Apamate', 'Carenero Superior, Bucare',
       'Carenero Superior, Mijao', 'Carenero Superior, Gran Saman',
       'Emerald Estate', 'Wampusirpi, batch 007', 'Ben Tre', 'Ham Luong',
       'Ba Lai', 'Guapiles', 'Carenero, Guapiles, Ocumare blend',
       'Peru, Madagascar', 'Venezuela, Trinidad',
       'Monte Alegre, D. Badaro, Raw, Organic', 'Blue Mountain',
       'Madagascar, Grand Cru', 'Maracaibo Clasificado',
       'Alto Beni, Cru Savage', 'Rio Eni',
       'Camino Verde P., Balao, Guayas', 'Kokoa Kamili Coop, Kilombero',
       'Canoabo', 'Peru Brutus', 'Norandino, batch 161208', 'San Andres',
       'Matagalpa', 'Palo Blanco, Chulucanas', 'Tumbes Coop',
       'Palo Blanco w/ panela, Chulucanas', 'Maranon, #228, MR, SC',
       'Maranon, #227, LR, MC', 'Maranon, #229, MR, LC',
       'Maranon, #230, DR, LC', 'Conacado, #223, MR, SC',
       'Conacado, #224, MR, MC',
       'San Martin, Bellavista Coop, #226, DR, MC',
       'Bellavista Coop, #225, LR, MC, CG Exclusive',
       'Markham Valley, #219, LR, MC', 'Markham Valley, #221, DR, MC',
       'Sambirano Valley, #216, MR, LC', 'Markham Valley, #220, MR, MC',
       'Markham Valley, #222, LR, 0C', 'Ghana, #211, MR, MC',
       'Jamaica, #209, DR, SC', 'Conacado, #212, LR, SC',
       'Jamaica, #210, DR, MC', 'Sambirano Valley, #214, LR, MC',
       'Conacado, #213, DR, -C', 'Sambirano Valley, #215, MR, MC',
       'Chuao, #218, MR, MC', 'Chuao, #217, DR, MC',
       'Jamaica, #204, DR, SC', 'Jamaica, #206, DR, LC',
       'Jamaica, #205, DR, MC', 'Carenero Superior, #203, MR, SC',
       'Rugoso, Bad Fermentation', 'La Dalia', 'Barba, Xoco',
       'Medagla, Xoco', 'Chuno, triple turned, Xoco', 'Red Mayan, Xoco',
       'Chuno, double turned, Xoco', 'Rugoso, Xoco', 'Johe, Xoco',
       'Wild Bolivian, Batch 2', 'Coto Brus, Heirloom, Batch 1',
       'Signature Blend', "Kaua'I, Alea Estate +world", 'Akesson P.',
       'ABOCFA Coop', 'Conacado Coop', 'Toledo District, 2015 Harvest',
       'Almendra Blanca, batch 1004', 'El Carmen, batch 1003',
       'Asochivite, batch 1005', 'Ben Tre, Dong Nai', 'Trinidad & Tobago',
       'Lacri Blend', 'Blend', "O'ahu, N. Shore, Waialua E., Kakoleka",
       'Machu Pichu', 'Chucuri', 'Sambirano, Ambanja',
       'Los Rios, Quevedo', 'Sharkey', 'Don Homero- Cerecita Valley',
       'South America and Africa', 'Vale do Juliana, w/ nibs',
       'Brazil Blend', 'Tome Acu E., Amazon Rainforest',
       'Vale do Juliana E., Atlantic Forest',
       'Maya Mtn, Moho R., Toledo D., 2015',
       'Cota Brus, Terciopelo, 2015', 'Alto Beni, Upper Rio Beni, 2014',
       'Wild Beni, Lower Rio Beni, Tranquilidad, 2014',
       'Los Rios, Hacienda Limon, Orecao, 2014',
       "Maunawili, O'ahu, Agri Research C., 2014",
       "Maunawili, O'ahu, Agri Research C., 2015",
       'Los Rios, Hacienda Limon, Orecao, 2015',
       'Pinchincha, Mindo, Coop Nueva Esper., 2015',
       'Alto Beni, Upper Rio Beni, 2015',
       'Wild Beni, Lower Rio Beni, Tranquilidad, 2015',
       "Akesson's Estate", 'Gran Blanco', 'Mara', 'Hispaniola',
       'Hispaniola w/ nibs', 'Ecuador, w/ nibs', 'Pepiniere, single Cote',
       'Marcial, single Cote, 2012', 'Island Growers, 2012, 120hr c.',
       'Mekong Delta & Dong Nai', 'Somia Plantation, Akesson, 2012',
       'Los Rios, H. Iara, 2012', 'Chanchamayo, Pichanadi, 2012, 60hr c.',
       'Los Rios, H. Iara, 2012, 120hr c.', 'Conacado, 2012, 120hr c.',
       'Los Rios, H. Iara, 96hr c.', 'Island Growers, 120hr c.',
       'Island Growers, 96hr c.', 'St. Lucia',
       'Bolivia, Bo-nib-ia, w/ nibs',
       'Zorzal Reserva w/ Charles Kerchner', 'Ocumare, Cumboto',
       'Amazonas', 'Chuao, Venezuela', 'Coopertiva Amazona',
       'Sur del Lago, Amiari Meridena, Zulia, 48hr c.',
       'Choroni, Finca Torres, 48hr c.', 'Ocumare, H. Cata, 48hr c.',
       'Porcelana, Zulia', 'Ocumare, H. Cata, w/ nibs',
       'Carenero Superior, Urrutia, Barlovento',
       'Coopertiva Amazona w/ nibs',
       'Sur del Lago, Amiari Meridena, Zulia, w/ nibs', 'India (south)',
       'Conacado, Manifesto', 'Honduras', 'Satipo region, white label',
       'black label', 'Maya Mountain, Toledo, Batch 29',
       'Elvesia P., Batch 32', 'Trinatario Treasure',
       'Rizek Cacao, Cibao Valley, Domin. Rep.',
       'Rizek Cacao, Domin. Rep.', 'Sisa 36hr/ W. F. blend prototype',
       "Sisa's Secret/ original micro", 'Roberto',
       'Diego/ original micro', 'Diego 48hr/ W.F. blend prototype',
       'Diego 60hr/ W.F. blend prototype', 'Cacao Nacional W.F.',
       'La Red, Project Reserva, Guaconejo', 'Dark',
       'La Red, Guanconjeco', 'Sambirano Valley', 'ROIG',
       'Kafupbo, Petit Bourg, De Borgnes', 'Maranon, Fortunato No. 4',
       'Los Rios, Hacienda Limon, Heirloom', 'Bahia, Fazenda Camboa',
       'Quito', 'Venzuela', 'Lumas, 2015 Harvest, Batch 6, brown sugar',
       'Lumas, 2015 Harvest, Batch 7', 'Tumbes, 2013 Harvest, Batch 8',
       'Belize, 2014 Harvest, Batch 9', 'Cuana, 2013', 'Tobago',
       'Acarigua, w/ nibs', 'Loma Sotavento', 'Akosombo',
       'Porcelana, Pariguan', 'Cuana, 2008', 'Peruvian Amazon', 'Vinces',
       'Madagascar, Batch 59/100', 'Vietnam, Batch 50/100',
       'Cuba, Batch 59/100', 'Peru, Batch 51/100',
       'Ivory Coast, Batch 56/100', 'Sao Tome, Batch 151',
       'Bahia, Batch 148', 'Lam Dong, Batch 153', 'Trinidad-Tobago',
       'La Masica, Batch 7, FHIA', 'Maya Mtn, Batch 18, Heirloom',
       'Liberia', 'Beniamo', 'San Juan Estate, Gran Couva',
       'La Red, Guaconejo', 'Maranura', 'Perfect Illusion',
       'Bolivia, Wild Thing', 'La Selva', 'Purple Haze',
       'The Other One, Grand Cru', 'Wild Thing',
       "Haleiwa, O'ahu; Lonohana E., Kanahiku", "Haleiwa E, O'ahu, 2014",
       "Opaeula Estate, O'ahu, Nene, CG Exclusive",
       "Opaeula Estate, O'ahu, Ele'ele", 'Hawaiian Crown, Kona Vanilla',
       'Selva', 'Misterio', 'Santander', 'Guadalcanal', 'Choobua, Kona',
       'Xocunusco, Chiapas, Pichucalco', 'Hamakua Coast, Kokoleka',
       'Criollo, Hawaii', "Kaua'i", 'Dominican', 'Chiapas, Triple Cacao',
       'Sambirano 2006', 'Mora Mora 2006', 'Davao, Mt. Talamo foothills',
       "O'ahu, N. Shore, Waialua Estate w/ nibs", 'Colombia',
       'Markham Valley', 'Coto Brus', "Waiahole, O'ahu", 'Liberia, #174',
       'Hamakua, Hawaiian Crown, #176',
       'Oahu, Winward, #151, Maunawili district', 'Kolumbia',
       'Grand Cru Dominican Republic', 'Grand Cru Ghana',
       'Grand Cru Ecuador', 'Ben Tre, Surprise Valley', 'ROIG, 2014',
       'Maranon, 2014', 'San Juan Estate, Cherry Blossoms at Night',
       'A case of the Xerces Blues, triple roast',
       'Tumbes, Dear Mr. Finley, 2014',
       'Kakoa Kamili, Both Man & Bird & Beast', 'Le Chocolat Chaud',
       'Cusco', 'Tan Phu Dong Island, Heart of Darkness',
       'Dak Lak, Batch 2451', 'Tan Phu Dong, Treasure Island', 'Ba Ria',
       'Dong Nai', 'Tien Giang, Gao Co-op', 'Matina 1-6, prototype',
       'Nigeria', 'Ghana, prototype', 'Pisa',
       'French Laundry 20th Anniversary', 'Shake Shack',
       'Chuao, Med. Roast', 'Chuao, Dark Roast', 'Chuao, Light Roast',
       'Moho River', 'La Red de Guanconejo, N. Highlands coop',
       'Ocumare de la Costa', 'Dominican Republic, Coop',
       'Malekula P., 2013', 'Somia, 2013', 'Kulili P., 2013',
       'Morropon, Norandiono Coop, Piura', 'Nicaragua, w/ inbs',
       'El Salvador', 'La Tronca, Matagalpa',
       'Fazenda Sempre Firme P., Bahia', 'Akesson Estate',
       'South America', 'Chiapas, Mokaya P.',
       'Carenero Superior, Concepcion', 'Vila Gracinda', 'Tamarina',
       'Los Ancones P.', 'Mangaro P.', 'Maralumi P.', 'San Juan Estate',
       'Patanemo, Epoch, Donaldo', 'Matagalpa, Cacao Bisiesto',
       'Balinese, Java', 'Acul-du-Nord, 2015', 'Fazenda Camboa, Bahia',
       'Bahia, Fazenda Venturosa', 'Toledo District, w/ nibs',
       'Toledo District', 'Umoho R., Toledo District, San Felipe',
       'Indonesia', 'Mombacho', 'Oscuro', 'Papaua New Guinea',
       'Kokoa Kamili, batch 1 SRB', 'Oko Caribe, batch 1 SRB',
       'Ambanja, batch 1 SRB', 'Tien Giang, batch 1 SRB',
       'Costa Rica, Oscuro', 'Barinas', 'Criollo Blend',
       'Manickchand Estate', 'Ambanja, Sambirano Valley', 'Moho Valley',
       'La Patriota, cacao Indio, purple label',
       'La Dalia, Matagalpa,cacao Bisesto,green label',
       'Punta Galera, cacao Nacional, gold label', 'Ghana, 2013',
       'Ecuador, 2013', 'Canoabo, 2013', 'Sambirano Valley, 2012',
       'Fazenda Leolinda', 'Pangoa', 'Pangoa, w/ nibs', 'Virunga',
       'Sang Yum Coop', 'PNG, Devotion', 'PNG, Revolution', 'PNG, Voodoo',
       'PNG, Nib Bar', 'Sylvestre, Oialla',
       'Dominican Republic prototype', 'Ghana prototype', 'Dark 67',
       'Dark 75', 'Carribean-Raw', 'Carribean', 'Nicaraqua', 'Caribe',
       'Papua Kerafat', 'Alto Beni, Wild Harvest, Itenez R. 24hr c.',
       'D.R. Congo, Cru Virunga', 'Piura, Apotequil, "Porcelana" 72hr c.',
       'Alto Beni, Wild Harvest, Itenez R., 60hr c.',
       "Hawai'i, Kona Grand Cru E.", "Hawai'i, Kona Estate Grown",
       'Sierra Nevada, Tutu Iku', 'Garaua', 'Cumbia', 'Montubia',
       'Tangara', 'Ecuador, raw', 'Nube- prototype', 'Raw',
       'Silvestre, La Paz, Beni', 'Alto Beni, Palos Blancos',
       'Duo- Gran Couva & Camino Verde', 'Kilombero Valley',
       "Lachua, Q'egchi families", 'Rio Caribe, Paria Penninsula',
       'Piura, Choc. Garage Exclusive', 'Madagascar, w/ shell',
       'Haut Penja, w/ nibs', 'Baracoa, Cuba', 'Peru, Las Pampas P.',
       'Bahia Brazil, Fazenda Sao Pedro',
       'Porcelana, Tabasco, Finca La Joya', 'Cabosse',
       'Los Rios, Puerto Romero, Equateur',
       'Sambirano, Ambanja, Madagascar', 'Fleur de Cacao',
       'Porcelana, Tabasco, Limited Ed.', 'Kendem Lembu, Java',
       'Ocumare, Puerto Cabello, Venezuela', 'Wampusirpi Region', 'Tenor',
       'Nicalizo', 'Namau Village',
       'Camino Verde P., Balao, Guayas, "Fruity"',
       'Camino Verde P., Balao, Guayas, "Floral"', 'La Red, 2011',
       'Oko Caribe, Duarte Province, 2016 H.', 'Cuyagua, 2013',
       'Upala w/ nibs', 'Upala, Batch 18',
       'San Martin, Amazonian Highlands', 'Upala, Batch 12',
       'Porcelana, S. of Lake Maracaibo', 'Papouasie',
       'Sambirano Valley, Le 100%', 'Dominican Republic-Organic',
       'Monte Alegre, Diego Badero', 'Claudio Corallo w/ nibs',
       'Monte Alegre (Itacare), Brazil', 'Sao Tome & Principe',
       'Madagascar, Nosy Be Isle.', 'Java, Indonesie',
       'Barlovento, Venezuela', 'Fortissima',
       'Caracas, Venezuela and Ghana', 'Djakarta, Java and Ghana',
       'Chocoan Rainforest, Teroro Escondido, ESM',
       'Crayfish Bay Estate, 2014', "Akesson's, batch 4411",
       'Patanemo Vil., Carabobo State, Tisano family', 'Guantupi River',
       'Akessons Estate, Sambirano, Ambanja', 'Mexico, Lot 28022016',
       'Uranga, Lot 22032016', 'Amazon Basin Blend', 'Suchitepequez E.',
       'San Martin, Batch 2', 'Chulucanas, Batch 1', 'Tumbes, Batch 2',
       'Los Rios, Vinces', 'El Oro',
       'Camino Verde P., Balao, 2015 harvest, batch8',
       'Toledo District, Maya', 'Maranon, Cajamarca',
       'Camino Verde P., 2012, Balao, Guayas', 'La Dorado, light roast',
       'Tapanti, light roast', 'Maleku', 'Madagascar w/ nibs',
       'Gru Grococo, St. Andrews',
       'La Masica, Batch 1, FHIA Research Center',
       'Caranero, Choc. Garage Exclusive', 'Tranquilidad, Batch 1',
       'Akessons Estate, Sambirano, 2013', 'Hispaniola, 2013',
       'Silvestre, Batch 7, 2013',
       "Bachelor's Hall E., St. Thomas Parish",
       'Silvestre, Batch 1, 2011', 'Hispaniola, 2008', 'Sambirano, 2008',
       'Rio Caribe Superior, Paria Penninsula',
       'Sambirano, Akesson Estate', 'Aragua, Trincheras', 'Malgascio',
       'Samana', 'Arawak', 'Midnight', 'Twilight', 'Bahia Superior',
       'Rio Arriba', 'Colombian 2008', 'Colombian w/ nibs',

In [75]:
#Looking at number of unique Bean Origins
ChocolateClean2.BeanOrigin.unique().shape

(981,)

In [76]:
ChocolateClean2.CocoaPercent.unique()

array(['63%', '70%', '60%', '80%', '88%', '72%', '55%', '75%', '65%',
       '85%', '73%', '64%', '66%', '68%', '50%', '100%', '77%', '90%',
       '71%', '83%', '78%', '74%', '76%', '86%', '82%', '69%', '91%',
       '42%', '61%', '73.5%', '62%', '67%', '58%', '60.5%', '79%', '81%',
       '57%', '72.5%', '56%', '46%', '89%', '84%', '53%', '87%', '99%'],
      dtype=object)

In [77]:
#Unique values in each column
ChocolateClean2.nunique()

Company         409
BeanOrigin      981
REF             440
Date             12
CocoaPercent     45
Location         60
Rating           13
BroadOrigin      99
dtype: int64

In [79]:
#drop BeanOrigin bc there are so many unique values
ChocolateClean3= ChocolateClean2.drop(columns=['BeanOrigin'])

In [80]:
ChocolateClean3.head()

    Company   REF  Date CocoaPercent Location  Rating BroadOrigin
0  A. Morin  1876  2016          63%   France    3.75    Sao Tome
1  A. Morin  1676  2015          70%   France    2.75        Togo
2  A. Morin  1676  2015          70%   France    3.00        Togo
3  A. Morin  1680  2015          70%   France    3.50        Togo
4  A. Morin  1704  2015          70%   France    3.50        Peru

In [81]:
ChocolateClean3.shape

(1721, 7)

In [82]:
#Looking at cocoa percent
ChocolateClean3.CocoaPercent.unique()

array(['63%', '70%', '60%', '80%', '88%', '72%', '55%', '75%', '65%',
       '85%', '73%', '64%', '66%', '68%', '50%', '100%', '77%', '90%',
       '71%', '83%', '78%', '74%', '76%', '86%', '82%', '69%', '91%',
       '42%', '61%', '73.5%', '62%', '67%', '58%', '60.5%', '79%', '81%',
       '57%', '72.5%', '56%', '46%', '89%', '84%', '53%', '87%', '99%'],
      dtype=object)

In [84]:
# Cocoa percent is an object. Remove % sign
ChocolateClean4= ChocolateClean3.replace(r'%', ' ', regex=True)

In [86]:
#CocoaPercent is still an object
ChocolateClean4.dtypes

Company          object
REF               int64
Date              int64
CocoaPercent     object
Location         object
Rating          float64
BroadOrigin      object
dtype: object

In [87]:
#Change to float
Chocolate_cleaned= ChocolateClean4.astype({'CocoaPercent': 'float'})

In [88]:
Chocolate_cleaned.CocoaPercent.unique()

array([ 63. ,  70. ,  60. ,  80. ,  88. ,  72. ,  55. ,  75. ,  65. ,
        85. ,  73. ,  64. ,  66. ,  68. ,  50. , 100. ,  77. ,  90. ,
        71. ,  83. ,  78. ,  74. ,  76. ,  86. ,  82. ,  69. ,  91. ,
        42. ,  61. ,  73.5,  62. ,  67. ,  58. ,  60.5,  79. ,  81. ,
        57. ,  72.5,  56. ,  46. ,  89. ,  84. ,  53. ,  87. ,  99. ])

In [89]:
Chocolate_cleaned.dtypes

Company          object
REF               int64
Date              int64
CocoaPercent    float64
Location         object
Rating          float64
BroadOrigin      object
dtype: object