# Final Project Template

## 1) Get your data
You may use any data set(s) you like, so long as they meet these criteria:

* Your data must be publically available for free.
* Your data should be interesting to _you_. You want your final project to be something you're proud of.
* Your data should be "big enough":
    - It should have at least 1,000 rows.
    - It should have enough of columns to be interesting.
    - If you have questions, contact a member of the instructional team.

## 2) Provide a link to your data
Your data is required to be free and open to anyone.
As such, you should have a URL which anyone can use to download your data:

In [ ]:
# Enter link here.

## 3) Import your data
In the space below, import your data.
If your data span multiple files, read them all in.
If applicable, merge or append them as needed.

In [7]:
import pandas as pd
import numpy as np

In [16]:
rna_file='barreslab_rnaseq.xlsx'
barreslab_rnaseq = pd.read_excel(rna_file)

In [8]:
from pandas import read_csv

In [9]:
Hospital_df = pd.read_csv('Hospital-Acquired_Infections__Beginning_2008.csv', header=0)

In [18]:
Chocolate_df= pd.read_csv('flavors_of_cacao.csv', header=0)

In [16]:
Chocolate_df.head(10)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5,9.598513e+13,5626772,F,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÚBLICA,0,1,0,0,0,0,No
6,7.336882e+14,5630279,F,2016-04-27T15:05:12Z,2016-04-29T00:00:00Z,23,GOIABEIRAS,0,0,0,0,0,0,Yes
7,3.449833e+12,5630575,F,2016-04-27T15:39:58Z,2016-04-29T00:00:00Z,39,GOIABEIRAS,0,0,0,0,0,0,Yes
8,5.639473e+13,5638447,F,2016-04-29T08:02:16Z,2016-04-29T00:00:00Z,21,ANDORINHAS,0,0,0,0,0,0,No
9,7.812456e+13,5629123,F,2016-04-27T12:48:25Z,2016-04-29T00:00:00Z,19,CONQUISTA,0,0,0,0,0,0,No

In [17]:
Kaggle_df.shape

(110527, 14)

## 4) Show me the head of your data.

In [17]:
barreslab_rnaseq.head(15)

,Gene symbol,Description,Astrocytes,Neuron,Oligodendrocyte Precursor Cell,Newly Formed Oligodendrocyte,Myelinating Oligodendrocytes,Microglia,Endothelial Cells
0,0610005C13Rik,NaN,0.150958,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
1,0610007C21Rik,NaN,44.891260,34.185493,71.221305,57.985927,54.006096,89.145033,63.561109
2,0610007L01Rik,NaN,11.015039,12.028727,13.285948,14.058364,6.139475,18.462419,13.521373
3,0610007P08Rik,NaN,7.144110,2.020408,4.477075,6.024325,2.863602,0.446900,4.693264
4,0610007P14Rik,Probable ergosterol biosynthetic protein 28,48.935666,24.370482,54.475390,68.246914,64.284606,10.411304,10.569456
5,0610007P22Rik,NaN,8.231357,13.266322,9.399021,10.096293,8.842743,6.713535,6.066753
6,0610008F07Rik,NaN,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
7,0610009B14Rik,NaN,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
8,0610009B22Rik,Trafficking protein particle complex subunit 2,9.091919,9.369135,12.179345,13.843865,14.516118,2.607435,12.034085
9,0610009D07Rik,NaN,18.839768,24.282501,38.772264,39.726035,30.020797,13.096369,32.063744
10,0610009L18Rik,NaN,1.861711,1.692506,4.993258,3.534235,1.884103,1.095089,1.221332
11,0610009O20Rik,Death ligand signal enhancer,16.520257,10.059333,21.975954,14.777881,11.734528,26.562216,17.831898
12,0610010B08Rik,NaN,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
13,0610010F05Rik,Uncharacterized protein KIAA1841,5.131502,12.849330,4.919824,6.412961,3.935585,0.631077,5.866775
14,0610010K14Rik,Chromatin complexes subunit BAP18,10.981571,20.967761,26.229852,15.933936,14.752458,50.769901,46.622623

## 5) Show me the shape of your data

In [6]:
barreslab_rnaseq.shape

(22458, 9)

In [11]:
Hospital_df.shape

(21661, 13)

## 6) Show me the proportion of missing observations for each column of your data

In [18]:
from sklearn.neighbors import KNeighborsRegressor
X = barreslab_rnaseq.data
y = barreslab_rnaseq.target

AttributeError: 'DataFrame' object has no attribute 'data'

In [ ]:
X.shape

In [ ]:
nnr = KNeighborsRegressor(n_neighbors=3)
nnr.fit(X, y)

//anaconda3/lib/python3.7/site-packages/statsmodels/nonparametric/kde.py:487: RuntimeWarning: invalid value encountered in true_divide
  binned = fast_linbin(X, a, b, gridsize) / (delta * nobs)
//anaconda3/lib/python3.7/site-packages/statsmodels/nonparametric/kdetools.py:34: RuntimeWarning: invalid value encountered in double_scalars
  FAC1 = 2*(np.pi*bw/RANGE)**2
//anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:140: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
//anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
//anaconda3/lib/python3.7/site-packages/matplotlib/transforms.py:2832: RuntimeWarning: overflow encountered in double_scalars
  elif vmax - vmin <= maxabsvalue * tiny:
//anaconda3/lib/python3.7/site-packages/matplotlib/axes/_base.py:2475: RuntimeWarning: overflow encountered in double_scalars
  delta = (x1t - x0t) * margin

## 7) Give me a problem statement.
Below, write a problem statement. Keep in mind that your task is to tease out relationships in your data and eventually build a predictive model. Your problem statement can be vague, but you should have a goal in mind. Your problem statement should be between one sentence and one paragraph.

## 8) What is your _y_-variable?
For final project, you will need to perform a statistical model. This means you will have to accurately predict some y-variable for some combination of x-variables. From your problem statement in part 7, what is that y-variable?